title: "John Doe"
tagline: "John Doe’s personal website"
description: "A longer description of John Doe’s personal website"
url: https://papicu.netlify.app
email: site@john_doe_website.com
locale: en_US

# papicu's homepage and twitter cards use this handler
twitter:
  username: "john_doe_website"

# this is due to JSON-LD
author:
  name: "John Doe"
  url: https://john_doe_author.com
  email: me@john_doe_author.com
  twitter: "john_doe_author"

# uncomment and set this up if you are using shynet
# shynet: https://shynet.john_doe_website.com/ingress/uuid-universally-unique-identifier/

favicon_color: "#5AC8FA"

baseurl: ""

markdown: kramdown

kramdown:
  parse_block_html: true
  math_engine: katex

permalink: /:slugified_categories/:title/

sass:
  sass_dir: _sass
  style: :compressed

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-optional-front-matter
  - jekyll-redirect-from
  - jekyll-archives
  - jekyll-last-modified-at

include:
  - _pages/

exclude:
  - "vendor.noindex/"
  - "bin/"
  - "TODOs.md"
  - "README.md"

defaults:
  - scope:
      path: "assets/**/*.pdf"
    values:
      sitemap: false
  - scope:
      path: "assets/**/*.csv"
    values:
      sitemap: false