<script>
  /* --- Workaround for Firefox only ---
  Render charts correctly inside <details> elements that start out closed */
  if(navigator.userAgent.match(/firefox|fxios/i) && document.querySelectorAll("details canvas").length > 0){
    document.querySelectorAll("details").forEach(function (detailsEl) { 
      /* if there's a canvas inside this <details> */
      const canvases = detailsEl.querySelectorAll("canvas");
      if (canvases.length > 0) {
        detailsEl.addEventListener("toggle", event => {
          if (detailsEl.open) { /* now open */
            canvases.forEach(function (canvasEl) {
              charts.find(chart => chart.canvas.id == canvasEl.id).resize();
            });
          }
        });
      }
    });
  }
</script>