<div id="color-scheme-switch" class="dont-shrink small all-small-caps">
  <span aria-label="Light Mode" id="light-mode" class="color-scheme-option">Light</span>
  <span aria-label="Dark Mode" id="dark-mode" class="color-scheme-option">Dark</span>
  {% comment %}
  TODO: implement the "Auto" mode a la Apple Developer (a third state) & remove Darken (which is limited to an on/off toggle)

  <span aria-label="Follow System Settings" id="follow-system-settings" class="color-scheme-option" aria-disabled>Auto</span>

  {% endcomment %}
</div>