<hr />

<footer class="small muted">
  <div class="flex-footer">
    <p><a class="muted" href="/">← Home Page</a></p>
    <p><a class="muted" href="#">Top ↑</a></p>
  </div>

  <br />

  <div class="flex-footer">
    <div>
      <a href="/feed.xml">
        {% include svg.html icon="rss" class="button-icon" %}
      </a>
    </div>

    {%- include color-scheme-switch.html -%}
  </div>

  <br /><br />

  <p class="center small">
    © <span id="copyright-year">2020</span>

    {% assign thanks_page = site.pages | where: "permalink", "/thanks" %}
    {% if thanks_page[0].permalink %}
    &nbsp;&#183;&nbsp;
    <a class="muted" href="/thanks">Thanks</a>
    {% endif %}

    &nbsp;&#183;&nbsp;
    <a class="muted" href="https://lucasamaro.com/papicu">Papicu Theme</a>
  </p>
</footer>

<script>
  const yearStr = new Date().getFullYear()
  document.querySelector('#copyright-year').innerText = yearStr
</script>