<div class="flex-footer">
  <p><a class="muted" href="/">← Home Page</a></p>
  <p><a class="muted" href="#">Top ↑</a></p>
</div>

<br />

<div class="flex-footer">
  <div>
    <a href="/feed.xml">
      {% include svg.html icon="rss" class="button-icon" %}
    </a>
  </div>

  {%- include color-scheme-switch.html -%}
</div>

<br /><br />

<p class="center small">
  © <span id="copyright-year">2020</span>

  &nbsp;&#183;&nbsp;
  <a class="muted" href="https://papicu.netlify.app/theme">Papicu Theme</a>

  &nbsp;&#183;&nbsp;
  <a class="muted" href="https://papicu.netlify.app/thanks">Thanks</a>    
</p>