<meta content="text/html; charset=UTF-8" name="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width" />

{% seo %}

{% if page.layout == 'post' or page.layout == 'page' %}
<meta property="article:modified_time" content="{{ page.last_modified_at | date: '%Y-%m-%dT00:00:00-03:00' }}" />
{% endif %}

<meta name="theme" content="Papicu" />
<meta name="theme_url" content="https://lucasamaro.com/papicu" />

{% if page.lightbox %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@midzer/tobii@2.3.2/dist/tobii.min.css" integrity="sha256-pKJvBeCb3mXQKk/1a7Dh8tAf2lRXbHOPXPd0VWb0e1A=" crossorigin="anonymous">
{% endif %}

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

{% if page.code_highlighter %}
<link rel="stylesheet" href="{{ '/assets/rouge.css' | relative_url }}">
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/darken@1.5.0/dist/darken.umd.js"
integrity="sha256-Y6pO59dXdOEEwUl/HiqekT5Fj1o+thlUS/gkwgXIZo4=" crossorigin="anonymous"></script>

<link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS feed" href="{{ site.url }}/feed.xml" />

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">

{% comment %}
- #5AC8FA is "Papicu Blue"
- https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html Use 100% black for all vectors with a transparent background in SVG format. The SVG file must be a single layer and the viewBox attribute must be set to "0 0 16 16".
- `solid-black-rect.svg` was created with macSVG v1.1.7 (https://macsvg.org)
- FYI, Safari caches masked icons as PNG files inside `~/Library/Safari/Template\ Icons/`
{% endcomment %}
<link rel="mask-icon" href="/assets/icons/solid-black-rect.svg" color="{{ site.favicon_color | default: "#5ac8fa" }}">

{% comment %}
- https://web.dev/add-manifest/
- https://developer.mozilla.org/en-US/docs/Web/Manifest
{% endcomment %}
<link rel="manifest" href="/assets/site.webmanifest">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#fafafa">
<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="#2c2c2c">

{% if page.chartjs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@0.4.0/dist/chartjs-plugin-colorschemes.min.js"
integrity="sha256-Ctym065YsaugUvysT5nHayKynbiDGVpgNBqUePRAL+0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.1.6/dist/chartjs-plugin-crosshair.min.js"
integrity="sha256-r/9biws8g6l28IaMAzQW4jw/wTmuDPmcEaXn1qqD9iM=" crossorigin="anonymous"></script>
{% endif %}

{% if page.katex %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.2/dist/katex.css" integrity="sha256-xkGWW9LkLeyOnuL6+COchlFwRPHO9tkh59ogotN8S7g=" crossorigin="anonymous">
{% endif %}

{% if page.toc %}
<script src="https://cdn.jsdelivr.net/npm/gumshoejs@5.1.2/dist/gumshoe.min.js" integrity="sha256-jQ/h16s1N4POLTSUtG12NXoZLMMNCNwyMJ+PwHEuDUs=" crossorigin="anonymous"></script>
{% endif %}

{% if page.anchorjs %}
<script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
{% endif %}

{% if page.lightbox %}
<script src="https://cdn.jsdelivr.net/npm/@midzer/tobii@2.3.2/dist/tobii.min.js" integrity="sha256-8fh7vRVLKtVACCTYz4Z6dG8YleIh70+9dPCPVLD/mdQ=" crossorigin="anonymous"></script>
{% endif %}