<div class="flex stack-on-mobile wider-gap">
  <div class="flex-maintain-size post-nav">
    {% if page.previous %}
    <span class="muted">{%- include svg.html icon="chevron-back" class="inline-icon small" -%}<span class="all-small-caps">&nbsp;Previous</span></span><br/>
    <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title | escape }}</a>
    {% endif %}
  </div>
  <div class="flex-maintain-size post-nav post-nav-next">
    {% if page.next %}
    <span class="muted"><span class="all-small-caps">Next</span>{%- include svg.html icon="chevron-forward" class="inline-icon small" -%}</span><br/>
    <a href="{{ page.next.url | relative_url }}">{{ page.next.title | escape }}</a>
    {% endif %}  
  </div>
</div>
{% comment %}
TODO: fix svg vertical alignment on mobile
{% endcomment %}