/* Heavily inspired by: */
/* - https://github.com/poole/poole/blob/master/_sass/_code.scss */

code,
pre {
  /* https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

code {
  font-size: 0.9em;
}

// TODO: where does this usually appear?
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 3rem;
  overflow: auto;
}

/* Inline code */
article {
  code:not(pre.highlight code):not(figure.highlight pre code) {
    background-color: var(--bg-inline-code);
    padding: 0.1em 0.2em;
  }
}

.highlight {
  padding: 0.5em;
  background-color: var(--bg-code-block);

  pre {
    margin-bottom: 0;
  }

  /* Triple backticks (code fencing) doubles the .highlight elements */
  .highlight {
    padding: 0;
  }
}

.highlighter-rouge {
  margin-top: 1em;
  margin-bottom: 2em;
}

.highlighter-rouge + .highlighter-rouge {
  margin-top: -1em;
}

.rouge-table {
  margin-bottom: 0;
  font-size: 1em;

  &,
  td,
  th {
    border: 0;
  }

  .gutter {
    vertical-align: top;
    user-select: none;
    opacity: .25;
  }
}