/* -------------- GENERAL -------------- */

/* NOTE: CSS color variables used below were defined in */
/* `_includes/darken/init.html` */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.33em;
  font-size: 16px;
  max-width: 40em;
  padding: 2em;
  margin: auto;
  color: var(--text);
  background: var(--bg);
}

@media only screen and (min-width: 80rem) {
  body {
   font-size: 18px;
  }
 }

@media only screen and (min-width: 120rem) {
  body {
   font-size: 20px;
  }
 }

img {
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--border);
  font-variant-numeric: tabular-nums;
}

th {
  padding: 0.5em;  
  border-bottom: 2px solid var(--border);
  font-weight: normal;
  font-style: italic;
}

tfoot > tr > td {
  border-bottom: none;
}

h1 {
  font-size: 1.6em;
  line-height: normal;
}

h2 {
  font-size: 1.3em;
  line-height: normal;
  margin-top: 3em;
}

h3 {
  font-size: 1.1em;
  line-height: normal;
  font-variant: all-small-caps;
  margin-top: 2em;
}

h2 + h3, aside + h2 {
  margin-top: 1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

pre {
  font-size: 0.9em;
}

mark {
  background-color: var(--marked);
  color: var(--text);
}

blockquote {
  border-left: 1px solid var(--border);
  padding: 0 1em;
  margin: 0;
  font-size: 0.9em;
}

blockquote + blockquote {
  margin-top: 2em;
}

a {
  color: var(--links);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 2em 0;
}

/* -------------- UTILITIES -------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.muted {
  color: var(--muted);
}

a.muted {
  text-decoration: underline;
}

.small {
  font-size: 0.8em;
}

.all-small-caps {
  font-variant: all-small-caps;
}

.padded {
  padding-inline-start: 1em;
}

.no-padding {
  padding: 0;
}

.none-list {
  list-style-type: none;
}

hr.dotted {
  border-top: 0;
  text-align: center;
}

hr.dotted:before {
  content: "· · ·";
}

/* -------------- LAYOUT -------------- */

header {
  display: block;
  width: 100%;
}

footer {
  margin-top: 2em;
}

.feed-post {
  margin-top: 3em;
  margin-bottom: 8em;
}

.home-header {
  margin-bottom: 3em;
}

.flex-item,
.flex-header,
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
}

@media only screen and (max-width: 40rem) {
  .flex-item {
    display: flex;
    justify-content: unset;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feed-post {
    margin-bottom: 6em;
  }  
}

.dont-shrink {
  flex-shrink: 0;
}

.footnotes {
  font-size: 0.8em;
  margin-top: 2em;
}

.responsive {
  width: 100%;
  height: auto;
}

/* -------------- DARKEN / DARK MODE -------------- */

#darken-button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: is there a way to move the following into darken init? */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .avoid-transparency {
    background: var(--muted);
  }
}

/* TODO: improve prevention of flash/flickering that happens with heavy pages on Chrome before Darken and its variables are loaded */
/* e.g. https://github.com/ColinEspinas/darken/issues/20 */

/* -------------- YOUTUBE VIDEOS -------------- */

/* Thanks to https://github.com/pibby/jekyll-youtube */

.ytp-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
/* 56.25% is 9/16, we use it to enforce a 16:9 aspect ratio */

iframe.ytp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* -------------- EXPANDABLE / COLLAPSIBLE -------------- */

details {
  margin: 1em 0;
}

details[open] {
  margin-bottom: 1em;
  /* background-color: var(--bg-expandable); */
}

details[open] summary {
  /* background-color: var(--bg); */
  border: 1px solid var(--bg);
  border-bottom: 1px solid var(--links);
}

summary:focus {
  outline: none;
  border: 1px solid var(--border);
  border-bottom: 1px solid var(--links);
}

details[open] > div {
  padding: 0.5em;
}

summary {
  padding: 0.5em;
  /* border-bottom: 1px solid var(--bg); */
  border: 1px solid var(--border);
  line-height: 1.5em;
}

summary::marker {
  color: var(--links);
}

/* TODO: follow https://github.com/GoogleChrome/lighthouse/issues/12089 and eventually remove this */
summary::-webkit-details-marker {
  color: var(--links);
}

/* TODO: find a way to vertically center details marker on Safari and Firefox */
/* https://stackoverflow.com/questions/59211525/how-to-center-details-marker */
/* https://stackoverflow.com/questions/51131818/how-to-vertically-align-detailss-arrow-with-summarys-content */

/* TODO: check out https://fotis.xyz/posts/details-is-awesome/ */

/* -------------- HOVERING EFFECTS -------------- */

/* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
/* Targeting only mouse and touchpad (no touchscreens) */

@media(hover: hover) and (pointer: fine) {
  a:hover, a:active {
    text-decoration: underline;
  }

  summary:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--links);
  }
}

/* -------------- CHARTS -------------- */

canvas {
  margin: 2em 0;
}

.charts {
  min-width: 275px;
}

.warning-narrow-screen {
  display: none;
}

@media only screen and (max-width: 28rem) {
  .warning-narrow-screen {
    display: block;
  }
}

/* -------------- TOC / TABLE OF CONTENTS -------------- */

ul.toc-menu {
  list-style-type: none;  
  padding-inline-start: 0;
  margin: 0;
}

ul.toc-menu li {
  font-size: 0.7em;
  line-height: 1.2em;
}

ul.toc-menu a {
  color: var(--muted);
  text-decoration: underline;
}

ul.toc-menu li.active a {
  color: var(--muted);
  text-decoration: none;
}

aside.toc-sticky-sidebar {
  margin-bottom: 3em;
}

aside.toc-sticky-sidebar header {
  color: var(--muted);
  margin-bottom: 0;
  font-variant: all-small-caps;
}

@media only screen and (min-width: 80rem) {
  aside.toc-sticky-sidebar {
    display: block;
    box-sizing: border-box;
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    right: 0;
    float: right;
    width: 18rem;
    margin-right: -18rem;
    margin-bottom: 1em;
    padding-left: 2em;
    z-index: 10;
  }
}