/* -------------- GENERAL -------------- */

/* NOTE: CSS color variables used below were defined in */
/* `_includes/darken/init.html` */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.33em;
  font-size: 16px;
  max-width: 40em;
  padding: 2em;
  margin: auto;
  color: var(--text);
  background-color: var(--bg);
  
  --sn-text-ratio: calc(16/16);
  --sn-margin-fix: 632px;
}

@media only screen and (min-width: 1381px) {
  body {
   font-size: 18px;
   --sn-text-ratio: calc(18/16);
   --sn-margin-fix: 716px;
  }
 }

@media only screen and (min-width: 1921px) {
  body {
   font-size: 20px;
   --sn-text-ratio: calc(20/16);
   --sn-margin-fix: 800px;
  }
 }

img {
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--border);
  font-variant-numeric: tabular-nums;
}

th {
  padding: 0.5em;  
  border-bottom: 3px solid var(--border);
  font-weight: normal;
}

tfoot > tr > td {
  border-bottom: none;
}

h1 {
  font-size: 1.6em;
  line-height: normal;
}

h2 {
  font-size: 1.3em;
  line-height: normal;
  margin-top: 3em;
}

h3 {
  font-size: 1.1em;
  line-height: normal;
  font-variant: all-small-caps;
  margin-top: 2em;
}

/* TODO: is this still necessary? */
h2 + h3, aside + h2 {
  margin-top: 1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

pre {
  font-size: 0.9em;
}

mark {
  background-color: var(--marked);
  color: var(--text);
}

blockquote {
  border-left: 1px solid var(--border);
  padding: 0 1em;
  margin: 0;
  font-size: 0.9em;
}

blockquote + *,
blockquote + details {
  margin-top: 1.5em;
}

a {
  color: var(--links);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 2em 0;
}

/* -------------- UTILITIES -------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.muted {
  color: var(--muted);
}

.underlined, a.muted {
  text-decoration: underline;
}

.small {
  font-size: 0.8em;
}

.all-small-caps {
  font-variant: all-small-caps;
}

.padded {
  padding-inline-start: 1em;
}

.no-padding {
  padding: 0;
}

.none-list {
  list-style-type: none;
}

hr.dotted {
  border-top: 0;
  text-align: center;
}

hr.dotted:before {
  content: "· · ·";
}

.auto-overflow-x {
  overflow-x: auto;
}

/* -------------- LAYOUT -------------- */

header {
  display: block;
  width: 100%;
}

footer {
  margin-top: 2em;
}

.feed-post {
  margin-top: 3em;
  margin-bottom: 8em;
}

.top-spacer {
  margin-top: 5em;
}

.home-header, .bottom-spacer {
  margin-bottom: 3em;
}

.flex-item,
.flex-header,
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
}

@media only screen and (max-width: 640px) {
  .flex-item {
    display: flex;
    justify-content: unset;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feed-post {
    margin-bottom: 6em;
  }  
}

.dont-shrink {
  flex-shrink: 0;
}

.footnotes {
  font-size: 0.8em;
  margin-top: 5em;
}

.responsive {
  width: 100%;
  height: auto;
}

/* -------------- DARKEN / DARK MODE -------------- */

#darken-button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: is there a way to move the following into darken init? */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .avoid-transparency {
    background: var(--muted);
  }
}

/* TODO: improve prevention of flash/flickering that happens with heavy pages on Chrome before Darken and its variables are loaded */
/* e.g. https://github.com/ColinEspinas/darken/issues/20 */

/* -------------- YOUTUBE VIDEOS -------------- */

/* Thanks to https://github.com/pibby/jekyll-youtube */

.ytp-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(9/16);
}
/* 56.25% is 9/16, we use it to enforce a 16:9 aspect ratio */

iframe.ytp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* -------------- EXPANDABLE / COLLAPSIBLE -------------- */

details {
  margin: 1em 0;
}

details[open] {
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--bg);
  /* background-color: var(--bg-expandable); */
}

details[open] > summary {
  border-bottom: 1px solid var(--border);
  /* background-color: var(--bg); */
}

summary:focus {
  outline: none;
  border-bottom: 1px solid var(--links);
}

details[open] > div {
  padding: 0 1em;
  padding-top: 0.5em;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  border-bottom: 1px solid var(--bg);
  line-height: 1.5em;
  list-style: none;
}

summary:before {
  color: var(--links);
  font-family: monospace;
  content: "+ ";
  font-size: 0.9em;
}

details[open] > summary:before {
  content: "- ";
}

/* TODO: find a way to vertically center details marker on Safari and Firefox */
/* https://stackoverflow.com/questions/59211525/how-to-center-details-marker */
/* https://stackoverflow.com/questions/51131818/how-to-vertically-align-detailss-arrow-with-summarys-content */

/* TODO: check out https://fotis.xyz/posts/details-is-awesome/ */

/* -------------- HOVERING EFFECTS -------------- */

/* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
/* Targeting only mouse and touchpad (no touchscreens) */

@media(hover: hover) and (pointer: fine) {
  a:hover, a:active {
    text-decoration: underline;
  }

  details[open] > summary:hover,
  summary:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--links);
  }
}

/* -------------- CHARTS -------------- */

canvas {
  margin: 2em 0;
}

.charts {
  min-width: 275px;
}

.warning-narrow-screen {
  display: none;
}

@media only screen and (max-width: 450px) {
  .warning-narrow-screen {
    display: block;
    margin-bottom: 1em;
  }
}

/* -------------- KATEX -------------- */

/* Workaround to make Katex block formulas (sort of) responsive */
/* https://github.com/KaTeX/KaTeX/issues/455 */
/* https://github.com/KaTeX/KaTeX/issues/327 */
@media only screen and (max-width: 640px) {
  .katex-display > .katex {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.katex-display {
  margin-bottom: 1.5em !important;
}

/* -------------- TOC / TABLE OF CONTENTS -------------- */

#toc-sticky-sidebar {
  margin-bottom: 3em;
}

#toc-sticky-sidebar summary {
  color: var(--links);
  margin-bottom: 0;
  font-variant: all-small-caps;
  border-bottom: none;
}

#toc-sticky-sidebar details {
  margin: 0;
}

#toc-sticky-sidebar details[open] > div {
  padding: 0;
}

#toc-sticky-sidebar details[open] > summary:hover,
#toc-sticky-sidebar details[open] {
  border-bottom: none;
}

@media only screen and (min-width: 1280px) {
  #toc-sticky-sidebar {
    display: block;
    box-sizing: border-box;
    clear: both;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;    
    top: 0.5em;
    right: 0;
    float: left;
    width: 18rem;
    margin-left: -20rem;
    /* TODO: increase margin-left in case the screen is super wide? */
    padding-left: 0.5em;
    z-index: 10;
    overflow-y: auto;
    max-height: 100%;
  }
}

#toc-menu ul {
  list-style-type: none;
}

#toc-menu > ul {
  padding-inline-start: 0;
  margin: 0.5em 0;
}

#toc-menu > ul ul {
  padding-inline-start: 0.75em;
}

#toc-menu li {
  font-size: 0.85rem;
  line-height: 1.1rem;
}

#toc-menu a {
  color: var(--muted);
  text-decoration: underline;
}

#toc-menu .active a {
  color: var(--muted);
  text-decoration: none;
}

/* -------------- SIDENOTES -------------- */
/* thanks to https://github.com/kslstn/sidenotes  */

.sidenote {
  display: inline;
}

.sidenote__checkbox {
  display: none;
}

.sidenote__button::after {
  content: "1";
  display: inline-block;
  vertical-align: super;
  font-size: 0.833333em;
}

.sidenote__content {
  color: var(--muted);
  font-size: calc(0.8rem * var(--sn-text-ratio));
  line-height: calc(1.1rem * var(--sn-text-ratio));
}

.sidenote__inline_label {
  cursor: help;
}

.sidenote__button--number-2::after {
  content: "2";
}

.sidenote__button--number-3::after {
  content: "3";
}

.sidenote__button--number-4::after {
  content: "4";
}

.sidenote__button--number-5::after {
  content: "5";
}

.sidenote__button--number-6::after {
  content: "6";
}

.sidenote__button--number-7::after {
  content: "7";
}

.sidenote__button--number-8::after {
  content: "8";
}

.sidenote__button--number-9::after {
  content: "9";
}

.sidenote__button--number-10::after {
  content: "10";
}

.sidenote__button--number-11::after {
  content: "11";
}

.sidenote__button--number-12::after {
  content: "12";
}

.sidenote__button--number-13::after {
  content: "13";
}

.sidenote__button--number-14::after {
  content: "14";
}

.sidenote__button--number-15::after {
  content: "15";
}

/* For narrow viewports, the sidenote is hidden by default and shown when the checkbox is checked. */
@media screen and (max-width: 1279px) {

  .sidenote__checkbox~.sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked~.sidenote__content {
    /* override hidden-but-accessible */
    position: relative;
    left: auto;

    /* Don't break up line containing the sidenote */
    float: left;
    min-width: 100%;

    display: block;
    margin: 1.5em 0 2em 0;
    padding: 0 1em;
  }

  .sidenote .sidenote__button::after {
    color: var(--links);
    cursor: help;
  }

  .sidenote__button:not(:hover):focus::after {
    display: inline;
    /* display:inline-block causes misalignment between focus ring and background. */
  }
}

@media screen and (min-width: 1280px) {
  .sidenote:hover .sidenote__inline_label,
  .sidenote:hover .sidenote__button {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
  }

  .sidenote .sidenote__button::after {
    color: var(--muted);
  }

  .sidenote:hover .sidenote__button::after, 
  .sidenote:hover .sidenote__inline_label,
  .sidenote:hover .sidenote__content {
    color: var(--text);
  }

  .sidenote__content {
    display: block;
    position: absolute;
    margin-left: calc(42rem * var(--sn-text-ratio));
    margin-top: -1.6em;
    width: 18rem;
  }

  /* A few ugly workarounds because we're positioning sidenotes relatively */
  /* TODO: get rid of them! */
  
  details p .sidenote__content, 
  blockquote p .sidenote__content {
    margin-left: calc(41rem * var(--sn-text-ratio));
  }

  details blockquote p .sidenote__content {
    margin-left: calc(40rem * var(--sn-text-ratio));
  }

  li .sidenote__content {
    margin-left: var(--sn-margin-fix);
  }
}

.sidenote__content::before {
  content: "1.\ ";
}

.sidenote__content--number-2::before {
  content: "2.\ ";
}

.sidenote__content--number-3::before {
  content: "3.\ ";
}

.sidenote__content--number-4::before {
  content: "4.\ ";
}

.sidenote__content--number-5::before {
  content: "5.\ ";
}

.sidenote__content--number-6::before {
  content: "6.\ ";
}

.sidenote__content--number-7::before {
  content: "7.\ ";
}

.sidenote__content--number-8::before {
  content: "8.\ ";
}

.sidenote__content--number-9::before {
  content: "9.\ ";
}

.sidenote__content--number-10::before {
  content: "10.\ ";
}

.sidenote__content--number-11::before {
  content: "11.\ ";
}

.sidenote__content--number-12::before {
  content: "12.\ ";
}

.sidenote__content--number-13::before {
  content: "13.\ ";
}

.sidenote__content--number-14::before {
  content: "14.\ ";
}

.sidenote__content--number-15::before {
  content: "15.\ ";
}

/* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
/* TODO: make this work on Safari Reader as well */
.sidenote__content-parenthesis {
  position: absolute;
  left: -99999px;
  top: auto;
}