---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

/* -------------- GENERAL -------------- */

/* NOTE: CSS color variables used below were defined in */
/* `_includes/darken.html` */

body {
  /* inspired by https://bitsofco.de/the-new-system-font-stack/ but, if available, we prefer Helvetica Neue */
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif;
  line-height: 1.33em;
  font-size: 16px;
  max-width: 40em;
  padding: 1.5em 1.5em;
  margin: auto;
  color: var(--text);
  background-color: var(--bg);
  --sn-text-ratio: calc(16/16);
  --sn-margin-fix: 632px;
}

@media only screen and (min-width: 1381px) {
  body {
   font-size: 18px;
   padding: 2em 2em;
   --sn-text-ratio: calc(18/16);
   --sn-margin-fix: 716px;
  }
 }

@media only screen and (min-width: 1921px) {
  body {
   font-size: 20px;
   --sn-text-ratio: calc(20/16);
   --sn-margin-fix: 800px;
  }
 }

img {
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--border);
  font-variant-numeric: tabular-nums;
}

th {
  padding: 0.5em;  
  border-bottom: 3px solid var(--border);
  font-weight: normal;
}

tfoot > tr > td {
  border-bottom: none;
}

h1 {
  font-size: 1.6em;
  line-height: normal;
}

h2 {
  font-size: 1.3em;
  line-height: normal;
  margin-top: 3em;
}

h3 {
  font-size: 1.2em;
  line-height: normal;
  font-variant: all-small-caps;
  margin-top: 2em;
  letter-spacing: 0.02em;
  font-weight: 500;
}

h2 + h3, nav + h2 {
  margin-top: 1em;
}

h4 {
  font-size: 1em;
  line-height: normal;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

pre {
  font-size: 0.9em;
}

mark {
  background-color: var(--marked);
  color: var(--text);
}

blockquote {
  border-left: 1px solid var(--border);
  padding: 0 1em;
  margin: 0;
  font-size: 0.9em;
}

blockquote + p,
blockquote + ul,
blockquote + div,
blockquote + details {
  margin-top: 1.5em;
}

a {
  color: var(--links);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 2em 0;
}

/* -------------- UTILITIES -------------- */

.hidden {
  display: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.muted {
  color: var(--muted);
}

.border {
  color: var(--border);
}

.underlined, a.muted {
  text-decoration: underline;
}

.large {
  font-size: 1.25em;
}

.small {
  font-size: 0.8em;
}

.smaller {
  font-size: 0.7em;
}

.all-small-caps {
  font-variant: all-small-caps;
}

.padded {
  padding-inline-start: 1rem;
}

.no-padding {
  padding: 0;
}

.none-list {
  list-style-type: none;
}

.tight {
 margin: 0.2em 0; 
}

.no-margins {
  margin: 0;
}

hr.dotted-text {
  border-top: 0;
  text-align: center;
}

hr.dotted-text:before {
  content: "• • •";
}

.wrapper-20 {
  width: 20%;
  margin: auto;
}

.wrapper-100 {
  width: 100%;
  margin: auto;
}

.wrapper-50 {
  width: 50%;
  margin: auto;
}

.auto-overflow-x {
  overflow-x: auto;
}

.slight-margin-right {
  margin-right: 0.1em;
}

.slight-margin-left {
  margin-left: 0.1em;
}

/* -------------- LAYOUT -------------- */

header {
  display: block;
  width: 100%;
}

header h1 {
  margin: 0;
}

footer {
  margin-top: 2em;
}

.feed-post {
  margin-top: 3em;
  margin-bottom: 8em;
}

.left-spacer {
  margin-left: 1em;
}

.right-spacer {
  margin-right: 1em;
}

.top-spacer {
  margin-top: 5em;
}

.bottom-spacer {
  margin-bottom: 3em;
}

.flex {
  display: flex;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  
  /* https://stackoverflow.com/questions/30887071/margin-top-only-when-the-flex-item-is-wrapped */
  margin-top: -1em;
}

.wrapped-item {
  margin-top: 1em;
}

.flex-item,
.flex-header,
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
}

@media only screen and (max-width: 640px) {
  .flex-item {
    display: flex;
    justify-content: unset;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feed-post {
    margin-bottom: 6em;
  }
}

.stretched {
  align-self: stretch;
}

.dont-shrink {
  flex-shrink: 0;
}

.footnotes {
  font-size: 0.8em;
  margin-top: 5em;
}

.responsive {
  width: 100%;
  height: auto;
}

/* -------------- TOBII LIGHTBOX -------------- */

/* NOTE: This is to overwrite tobii-zoom's display (inline-block) */
/* We intend to only show zoomable images in text "blocks" (never inline) */
/* eg https://quirksmode.org/css/css2/display.html#inlineblock */
.tobii-zoom {
  display: block;
}

.tobii-zoom__icon {
  background-color: var(--bg);
  color: var(--links);
  border: 1px solid var(--border);
  border-radius: 6px;
}

.tobii__btn {
  border: none;
  color: var(--muted);
}

.tobii__btn:hover {
  border: none;
}

/* -------------- FORMS, INPUTS & BUTTONS -------------- */

input[type='text'], 
input[type='search'] {
  background-color: var(--bg-expandable);
  border: 1px solid var(--border);
  color: var(--text);
  height: 2.5em;
  font-size: 0.8em;
  margin-top: 0;
  min-width: 50%;
  padding-left: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

input::placeholder {
	color: var(--muted);
}

button,
a.link-button {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  padding: 0.5em 0.75em;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 0.8em;
  color: var(--links);
  cursor: pointer;
}

form button {
  padding: 0.1em 1em;
}

button:hover,
a.link-button:hover {
  border: 1px solid var(--links);
  text-decoration: none;
}

button svg,
a.link-button svg {
  height: 0.9em;
  width: 0.9em;
  padding-right: 0.2em;
  overflow: hidden;
}

button:disabled {
  pointer-events: none;
  opacity: 0.50;
  border: 1px solid var(--muted);
  color: var(--muted);
}

#site-search input {
  flex-grow: 6;
}

#site-search button {
  margin-left: 0.5em;
  flex-grow: 1;
}

.pill {
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.1em 0.3em;
  border-radius: 4px;
  border: 1px solid var(--border);
  color: var(--muted);
}

/* -------------- SVG ICONS -------------- */

/* some refs:
- https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
- https://milanaryal.com.np/how-to-align-svg-icons-to-text/ */

.homepage-icon {
  height: 1.33em;
  width: 1.33em;
  margin-left: 0.75em;
  color: var(--links);
  overflow: hidden;
  vertical-align: -0.2em;
}

.header-icon {
  height: 1.2em;
  width: 1.2em;
  color: var(--links); 
  margin-left: 0.5em;
  overflow: hidden;
  vertical-align: -0.2em;
}

.button-icon {
  margin-top: 0.5em;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--muted);
  color: var(--muted);
  overflow: hidden;
}

.inline-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;
}

/* -------------- DARKEN / DARK MODE -------------- */

#color-scheme-switch {
  border: 1px solid var(--muted);
  border-radius: 6px;
  display: inline-flex;
}

.color-scheme-option {
  cursor: pointer;
  padding: 0 0.75em;
  line-height: 1.75em;
  text-decoration: underline;
  letter-spacing: 0.05em;
  /* font-weight: 500; */
}

.color-scheme-option.selected {
  cursor: default;
  text-decoration: none;
}

/* TODO: is there a way to move the following into darken init? */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .avoid-transparency {
    background: var(--muted);
  }
}

/* TODO: improve prevention of flash/flickering that happens with heavy pages on Chrome before Darken and its variables are loaded */
/* e.g. https://github.com/ColinEspinas/darken/issues/20 */

/* -------------- YOUTUBE VIDEOS -------------- */

/* Thanks to https://github.com/pibby/jekyll-youtube */

.ytp-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* padding-bottom: calc(9/16); isn't working */
  /* 56.25% is 9/16, we use it to enforce a 16:9 aspect ratio */
  margin-bottom: 1em;
}

.ytp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* -------------- EXPANDABLE / COLLAPSIBLE -------------- */

/* TODO: check out https://fotis.xyz/posts/details-is-awesome */

details {
  margin: 1em 0;
}

details[open] {
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--bg);
}

details[open] > summary {
  border-bottom: 1px solid var(--border);
}

summary:focus {
  outline: none;
  border-bottom: 1px solid var(--links);
}

details[open] > div {
  padding: 0 1em;
  padding-top: 0.5em;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  border-bottom: 1px solid var(--bg);
  line-height: 1.5em;
  list-style: none;
}

summary:before {
  color: var(--links);
  font-family: monospace;
  content: "+ ";
  font-size: 0.9em;
}

details[open] > summary:before {
  content: "- ";
}

.inline-expander summary {
  margin-left: 1em;
}

.inline-expander summary:before {
  font-size: 1.1em;
  float: left;
  margin-left: -1em;  
}

/* -------------- HOVERING EFFECTS -------------- */

/* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
/* Targeting only mouse and touchpad (no touchscreens) */

@media(hover: hover) and (pointer: fine) {
  a:hover, a:active {
    text-decoration: underline;
  }

  details[open] > summary:hover,
  summary:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--links);
  }
}

/* -------------- ANCHORJS -------------- */

.anchorjs-link {
  padding-right: 0;
}

.anchorjs-link::after {
  font-size: 0.9em;
}

/* -------------- CHARTS -------------- */

canvas {
  margin: 2em 0;
}

.charts {
  min-width: 275px;
}

.warning-narrow-screen {
  display: none;
}

@media only screen and (max-width: 450px) {
  .warning-narrow-screen {
    display: block;
    margin-bottom: 1em;
  }
}

/* -------------- KATEX -------------- */

/* Workaround to make Katex block formulas (sort of) responsive */
/* https://github.com/KaTeX/KaTeX/issues/455 */
/* https://github.com/KaTeX/KaTeX/issues/327 */
@media only screen and (max-width: 640px) {
  .katex-display > .katex {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.katex-display {
  margin-bottom: 1.5em !important;
}

/* -------------- TOC / TABLE OF CONTENTS -------------- */

.toc-sidebar {
  margin-bottom: 3em;
}

.toc-sidebar summary,
.metadata summary {
  color: var(--links);
  margin-bottom: 0;
  border-bottom: none;
  font-variant: all-small-caps;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.toc-sidebar details {
  margin: 0;
}

.toc-sidebar details[open] > div {
  padding: 0;
}

.toc-sidebar details[open] > summary:hover,
.toc-sidebar details[open] > summary,
.toc-sidebar details[open] {
  border-bottom: none;
}

@media only screen and (min-width: 1280px) {
  .toc-sidebar {
    display: block;
    box-sizing: border-box;
    top: 0.5rem;
    width: 16rem;
    float: left;
    z-index: 10;
  }

  #toc-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    margin-left: -20rem;
    padding-left: 1rem;
  }

  /* Particularly useful for long articles with several sections */
  #toc-fixed {
    top: 0.5rem;
    left: 1rem;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
  }
}

/* Make things larger in wider screens */
@media only screen and (min-width: 1721px) {
  .toc-sidebar {
    width: 18rem;
  }

  #toc-sticky {
    margin-left: -21rem;
  }

  #toc-fixed #toc-menu li,
  #toc-sticky #toc-menu li {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }
}

#toc-menu ul {
  list-style-type: none;
  margin: 1rem 0;
}

#toc-menu > ul {
  padding-inline-start: 0;
  margin-top: 0.5rem;
}

#toc-menu > ul ul {
  padding-inline-start: 0.75em;
}

#toc-menu li {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.7rem;
}

#toc-menu a {
  color: var(--muted);
}

#toc-menu .active a {
  color: var(--text);
}

/* -------------- SIDENOTES -------------- */
/* thanks to https://github.com/kslstn/sidenotes  */

.sidenote {
  display: inline;
}

.sidenote__checkbox {
  display: none;
}

.sidenote__button::after {
  content: "";
  display: inline-block;
  vertical-align: super;
  font-size: 0.833333em;
}

.sidenote__content {
  color: var(--muted);
  font-size: calc(0.8rem * var(--sn-text-ratio));
  line-height: calc(1.1rem * var(--sn-text-ratio));
  font-weight: normal;
}

.sidenote__inline_label {
  cursor: help;
}

.sidenote__button--number-1::after {
  content: "1";
}

.sidenote__button--number-2::after {
  content: "2";
}

.sidenote__button--number-3::after {
  content: "3";
}

.sidenote__button--number-4::after {
  content: "4";
}

.sidenote__button--number-5::after {
  content: "5";
}

.sidenote__button--number-6::after {
  content: "6";
}

.sidenote__button--number-7::after {
  content: "7";
}

.sidenote__button--number-8::after {
  content: "8";
}

.sidenote__button--number-9::after {
  content: "9";
}

.sidenote__button--number-10::after {
  content: "10";
}

.sidenote__button--number-11::after {
  content: "11";
}

.sidenote__button--number-12::after {
  content: "12";
}

.sidenote__button--number-13::after {
  content: "13";
}

.sidenote__button--number-14::after {
  content: "14";
}

.sidenote__button--number-15::after {
  content: "15";
}

.sidenote__button--number-16::after {
  content: "16";
}

.sidenote__button--number-17::after {
  content: "17";
}

.sidenote__button--number-18::after {
  content: "18";
}

.sidenote__button--number-19::after {
  content: "19";
}

.sidenote__button--number-20::after {
  content: "20";
}

/* For narrow viewports, the sidenote is hidden by default and shown when the checkbox is checked. */
@media screen and (max-width: 1279px) {

  .sidenote__checkbox~.sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked~.sidenote__content {
    /* override hidden-but-accessible */
    position: relative;
    left: auto;

    /* Don't break up line containing the sidenote */
    float: left;
    min-width: 100%;

    display: block;
    margin: 1.5em 0 2em 0;
    padding: 0 1em;
  }

  .sidenote .sidenote__button::after {
    color: var(--links);
    cursor: help;
  }

  .sidenote__button:not(:hover):focus::after {
    display: inline;
    /* display:inline-block causes misalignment between focus ring and background. */
  }
}

@media screen and (min-width: 1280px) {
  .sidenote:hover .sidenote__inline_label,
  .sidenote:hover .sidenote__button {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
  }

  .sidenote .sidenote__button::after {
    color: var(--muted);
  }

  .sidenote:hover .sidenote__button::after, 
  .sidenote:hover .sidenote__inline_label,
  .sidenote:hover .sidenote__content {
    color: var(--text);
  }

  .sidenote__content {
    display: block;
    position: absolute;
    margin-left: calc(42rem * var(--sn-text-ratio));
    margin-top: -1.6em;
    width: 18rem;
  }

  /* A few ugly workarounds because we're positioning sidenotes relatively */
  /* TODO: get rid of them! */
  
  details p .sidenote__content, 
  blockquote p .sidenote__content {
    margin-left: calc(41rem * var(--sn-text-ratio));
  }

  details blockquote p .sidenote__content {
    margin-left: calc(40rem * var(--sn-text-ratio));
  }

  li .sidenote__content {
    margin-left: var(--sn-margin-fix);
  }
}

.sidenote__content::before {
  content: "";
}

.sidenote__content--number-1::before {
  content: "1.\ ";
}

.sidenote__content--number-2::before {
  content: "2.\ ";
}

.sidenote__content--number-3::before {
  content: "3.\ ";
}

.sidenote__content--number-4::before {
  content: "4.\ ";
}

.sidenote__content--number-5::before {
  content: "5.\ ";
}

.sidenote__content--number-6::before {
  content: "6.\ ";
}

.sidenote__content--number-7::before {
  content: "7.\ ";
}

.sidenote__content--number-8::before {
  content: "8.\ ";
}

.sidenote__content--number-9::before {
  content: "9.\ ";
}

.sidenote__content--number-10::before {
  content: "10.\ ";
}

.sidenote__content--number-11::before {
  content: "11.\ ";
}

.sidenote__content--number-12::before {
  content: "12.\ ";
}

.sidenote__content--number-13::before {
  content: "13.\ ";
}

.sidenote__content--number-14::before {
  content: "14.\ ";
}

.sidenote__content--number-15::before {
  content: "15.\ ";
}

.sidenote__content--number-16::before {
  content: "16";
}

.sidenote__content--number-17::before {
  content: "17";
}

.sidenote__content--number-18::before {
  content: "18";
}

.sidenote__content--number-19::before {
  content: "19";
}

.sidenote__content--number-20::before {
  content: "20";
}

/* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
/* TODO: make this work on Safari Reader as well */
.sidenote__content-parenthesis {
  position: absolute;
  left: -99999px;
  top: auto;
}

/* -------------- LIST.JS -------------- */

.sort {
  color:var(--links); 
  cursor: pointer;
}

.sort.asc::after {
  content: "▲";
  color: var(--links);
  font-size: 0.8em;
  padding-left: 5px;
}

.sort.desc::after {
  content: "▼";
  color: var(--links);
  font-size: 0.8em;
  padding-left: 5px;
}

/* -------------- POST NAVIGATION -------------- */

.post-nav {
  font-variant: all-small-caps;
  letter-spacing:0.1em;
}

.post-nav svg.inline-icon {
  width: 0.8em;
  height: 0.8em;  
}