<script>
  function buildCharts() {
    const linearAge = {
      label: 'Age (y.o.)',
      scale: 'linear',
    }

    let linearAxes = {
      y: {
        label: 'Hazard rate',
        scale: 'linear',
      },
      x: linearAge
    }

    let logAxes = {
      y: {
        label: 'Hazard rate · log scale',
        scale: 'logarithmic',
        ticksCallback: logTicksFn,
      },
      x: linearAge
    }

    let tooltipsFn = tooltipLabelFn // = null

    // Recent data - ELT 17, USA, Brasil

    const recentMalesData = [
      {'label': 'England & Wales (ONS ELT 17, 2015)', 'data': elt17Males2015RawData, 'color': c01PrimBlue, 'alpha': 0.5},
      {'label': 'E&W Fitted', 'data': fitELT17MalesHazard, 'color': c01PrimBlue, 'type': 'line'},
      {'label': 'Brazil (IBGE, 2019)', 'data': braMales2018RawData, 'color': c03PrimGray, 'alpha': 0.5},
      {'label': 'BRA Fitted', 'data': fitBraMalesHazard, 'color': c03PrimGray, 'type': 'line'},
      {'label': 'USA (CDC NCHS, 2019)', 'data': usaMales2017RawData, 'color': c05SecBlue, 'alpha': 0.5},
      {'label': 'USA Fitted', 'data': fitUSAMalesHazard, 'color': c05SecBlue, 'type': 'line'},
    ]
    const recentMalesDataset = createDatasets(recentMalesData, "smallPoints")

    createChart('canvas-recent-mortality-males', recentMalesDataset, 'scatter', logAxes, 'Hazard rates – Males · 2010s England & Wales, USA, Brazil', tooltipLabelPercentFn);
  }
</script>