<script>
  const darkenOptions = {
    variables: {
      "--bg": {
        light: "#fafafa",
        dark: "#222"
      },
      "--bg-code": {
        light: "#f6f6f6",
        dark: "#2c2c2c"
      },
      "--text": {
        light: "#222",
        dark: "#ccc"
      },
      "--links": {
        light: "#0074d9",
        dark: "#74ADFF"
      },
      "--muted": {
        light: "#aaa",
        dark: "#7C7C7C"
      },
      "--border": {
        light: "#eee",
        dark: "#333"
      },
      "--marked": {
        light: "rgba(255, 255, 60, .4)",
        dark: "rgba(102, 102, 0, .3)"
      },
    },
    toggle: "#darken-button"
  };

  let darkenCallback = function(active) {
    if (active) {
      document.getElementById('moon-icon').style.display = "none";
      document.getElementById('sun-icon').style.display = "block";
    }
    else {
      document.getElementById('moon-icon').style.display = "block";
      document.getElementById('sun-icon').style.display = "none";
    }

    if (window.hasOwnProperty("charts")) {
      const bodyEl = document.querySelector('body');
      const bodyCompStyle = window.getComputedStyle(bodyEl);
      Chart.defaults.global.defaultFontColor = bodyCompStyle.color;

      const mutedEl = document.querySelector('.muted');
      const mutedCompStyle = window.getComputedStyle(mutedEl);
      Chart.defaults.global.defaultColor = mutedCompStyle.color;

      charts.forEach(chart => {
        /* https://www.chartjs.org/docs/latest/developers/api.html?h=update */
        /* https://www.chartjs.org/docs/latest/developers/updates.html */
        chart.update();
      });
    }
  };

  const darkenInst = new darken(darkenOptions, darkenCallback);
</script>