---
layout: html_minifier
---

<!DOCTYPE html>

{% comment %}
https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started Open Graph recommends specifying the “og” RDFa Core 1.1 CURIE prefix mapping via <html prefix="og: http://ogp.me/ns#">, [but] no such markup is required for Twitter cards and its use of the twitter: prefix in a HTML meta element’s name attribute.
{% endcomment %}
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: https://ogp.me/ns#">

  <head>
  {%- include head.html -%}
  </head>

  <body>
    <div class="frame">
      {{ content }}
    </div>

    <script>
      {%- include copyright-year.min.js -%}
      {% if page.enhanced_details %}
        {%- include enhanced-details.min.js -%}
      {% endif %}
    </script>

    {% include analytics.html %}
  </body>

</html>