---
layout: default
---

<header class="flex-header bottom-spacer">
  <h1>{{ site.title | escape }}</h1>

  <div class="dont-shrink">
    {% if site.twitter.username %}
    <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener">
      {%- include svg.html icon="twitter" class="home-icon" -%}
    </a>
    {% endif %}

    {% if site.email %}
    <a href="mailto:{{ site.email }}" target="_blank" rel="noopener">
      {%- include svg.html icon="email" class="home-icon" -%}
    </a>
    {% endif %}

    {% assign about_page = site.pages | where: "permalink", "/about" %}
    {% if about_page[0].permalink %}
    <a href="/about">
      {%- include svg.html icon="person" class="home-icon" -%}
    </a>
    {% endif %}
  </div>
</header>

<main>
  {{ content }}
  
  <h2>Posts</h2>

  {% assign posts = site.posts %}
  {%- for post in posts -%}
  <ul class="padded none-list">
    <li class="flex-item">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      <span class="muted smaller dont-shrink">
        {% if post.category %}
        {{ post.category | escape }} &#183;&nbsp;
        {% endif %}
        {{ post.date | date: "%b %Y"}}
      </span>
    </li>      
  </ul>
  {%- endfor -%}
</main>

<br />
<hr />

<footer class="small muted flex-footer">
  <div>
    <a href="/feed.xml">
      {% include svg.html icon="rss" class="button-icon" %}
    </a>
  </div>

  {%- include color-scheme-switch.html -%}
</footer>