---
layout: default
---

<header class="home-header">
  <h1>{{ site.title | escape }}</h1>

  <div class="small flex-header">
    <div>
      {% if site.twitter %}
       <a href="https://twitter.com/{{ site.twitter }}">twitter</a>
      {% endif %}

      {% if site.twitter and site.email %}
      &nbsp;&#183;&nbsp;
      {% endif %}

      {% if site.email %}
      <a href="mailto:{{ site.email }}">email</a>
      {% endif %}

      {% assign about_page = site.pages | where: "permalink", "/about" %}

      {% if site.email and about_page[0].permalink %}
      &nbsp;&#183;&nbsp;
      {% endif %}

      {% if about_page[0].permalink %}
      <a href="/about">about</a>
      {% endif %}
    </div>
    {%- include darken/button.html -%}
  </div>
</header>

<main>
  {{ content }}
  
  <h2>Posts</h2>

  {% assign posts = site.posts %}
  {%- for post in posts -%}
  <ul class="padded none-list">
    <li class="flex-item">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      <span class="muted small dont-shrink">
        {% if post.category %}
        {{ post.category | escape }} &#183;&nbsp;
        {% endif %}
        {{ post.date | date: "%b %Y"}}
      </span>
    </li>      
  </ul>
  {%- endfor -%}

</main>
