---
layout: default
---

<header class="home-header">
  <h1>{{ site.title | escape }}</h1>

  <div class="small flex-header">
    <div>
      {% if site.twitter %}
       <a href="https://twitter.com/{{ site.twitter }}">twitter</a> &#183;
      {% endif %}

      {% if site.email %}
      <a href="mailto:{{ site.email }}">email</a> &#183;
      {% endif %}

      <a href="/about">about</a>
    </div>
    {%- include darken/button.html -%}
  </div>
</header>

<main>
  {{ content }}

  {% include separator.html %}
  
  <h2>Posts</h2>

  {% assign posts = site.posts %}
  {%- for post in posts -%}
  <ul class="post-list">
    <li class="flex-item">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      <span class="muted small dont-shrink">
        {% if post.category %}
        {{ post.category | escape }} &#183; 
        {% endif %}
        {{ post.date | date: "%b %Y"}}
      </span>
    </li>      
  </ul>
  {%- endfor -%}

</main>
