---
layout: default
---

<header>
  <div class="flex-header">
    <a class="muted small" href="/">{{ site.title | escape }}</a>
    {%- include darken/button.html -%}
  </div>
</header>

<article>

  <h1>{{ page.title | escape }}</h1>

  {% if page.description %}
  <p class="muted bottom-spacer">{{ page.description | escape }}</p>
  {% endif %}

  {% if page.toc %}
  <aside class="toc-sticky-sidebar">
    <nav>
      {% if page.toc_starts_closed %}
      <details>
      {% else %}
      <details open>
      {% endif %}
        <summary>Table of Contents</summary>
        {% include toc.html sanitize=true html=content h_min=1 h_max=2 class="toc-menu" skip_no_ids=true %}
      </details>
    </nav>
  </aside>
  {% endif %}

  {{ content }}

</article>

{%- include footer.html -%}